html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: Cabin, Arial, sans-serif;
}

body .container {
    display: flex;
    background: rgb(0,0,0);
}

#conteudo {
    color: #ffffff;
}

#conteudo .escription {

}

#video {
    width: 275px;
    height: 100vh;
    background: rgb(0,0,0);
    color: #ffffff;
    padding: 0 16px; 
    font-size: 1rem;
}

#menu {
    width: 275px;
    height: 100vh;
    background: #0d131d;
    color: #ffffff;
    padding: 0 16px; 
    font-size: 1rem;
}

#menu h2.course-title {
    font-family: Pacifico, cursive;
    font-weight: normal;
}

#menu dl {
    margin: 0;
    list-style: none;
    padding: 0;
}


#menu dl dd {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#menu dl dd:hover {
    background: rgba(255, 255, 255, .06);
}

#menu dl dd h4 {
    margin: 0;
}

#menu dl .active-item h4 {
    color: rgba(145, 191, 240, 0.822);
}

#menu dl .active-item {
    background: rgba(145, 191, 240, 0.13);
}

#menu .episode__number {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(84, 153, 172, 0.226);
    margin-right: 16px;
}

#menu dl .active-item .episode__number {
    color: #ffffff;
    background: red;
    border: 0;
}

#menu dl .completed-item h4 {
    color: rgba(255, 255, 255, 0.6);
}

#menu dl .completed-item .episode__number {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
}

#menu dl .completed-item span {
    color: rgba(255, 255, 255, 0.6);
}

#menu dl dd span {
    color: rgba(145, 191, 240, 0.822);
    font-size: 0.7rem;
} 

#menu dl dt {
    border-radius: 8px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

#menu dl dt:hover{
    background-color: rgba(255, 255, 255, .1);
}

#menu dl dt .section {
    border-right: 1px solid rgba(252, 246, 246, 0.1);
    color: #ffffff;
    padding-right: 8px;
    font-weight: bold;
}

#menu dl dt .title {
    color: #ffffff;
    padding-left: 8px;
    font-weight: bold;
}



#menu .back-btn {
    padding: 16px 0;
}

#menu h2 {
    font-size: 1.5rem;
}

#menu .back-btn a {
    text-decoration: none;
    color: #ffffff;
}

#menu .back-btn a:hover {
    color: rgb(50 138 241);
}